

#headerImg
{
border-radius: 12px;
}

.center90
{
	margin: 0 auto;
	width: 90%;
}

h3
{
	margin: 0 auto;
}


  @media (max-width: 600px)  {

#centerSmall{
	margin: 0 auto;
	text-align: center;
}



  	}