

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}


.navSpec
{
font-size: 20px;
text-align: center;
}

.bogus
{
	height: 70px;
	width:100%;
}

#headerImg
{
border-radius: 12px;
margin-bottom: 10px;
}

#resume
{
	margin: 0 auto;
}

.center90
{
	margin: 0 auto;
	width: 80%;
}

h3
{	
	text-align: center;
	margin: 10px;
}

h4
{

	font-size: 25px;
}

.descBox
{
	width:85%;
	margin: 0 auto;

}


#g1-box {
    clear: both;
    background: #ffcc00;
}

#g2-box {
    clear: both;
    background: #ff0000;
}

  @media (max-width: 800px)  {

#elementSmall{
	margin: 0 auto;
	margin-top: 200px;
}

#centerSmall{ /* Applies to only text to center it, resizing can be done elsewhere */
	text-align: center;
}

.navSpec
{
font-size: 40px;
text-align: center;
}


}

  @media (max-width: 480px)  {

  	h1{
  		text-align: center;

  	}

  	p{
  		text-align: justify;
  	}

  	.bogus
{
	height: 200px;
	width:100%;
}


}
 
