

#headerImg
{
border-radius: 12px;
}

.center90
{
	margin: 0 auto;
	width: 90%;
}

h3
{	
	text-align: center;
	margin: 10px;
}

h4
{

	font-size: 20px;
}


  @media (max-width: 600px)  {

#centerSmall{ /* Applies to only text to center it, resizing can be done elsewhere */
	text-align: center;
}



  	}